.start {
	background:url(../../../assets/img/pexels-pixabay-39584.jpg)no-repeat;background-size:cover;background-position:center;
	height: 900px;
}
.for_got {
	padding-top: 200px;
	/*! background: #fff; */
}
.forr {
	background: #fff;
	width: 385px;
	height: 455px;
	margin-left: 460px;
	border-radius: 10%;
}
.forr h2 {
	color: #247eb9;
	font-size: 27px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}
.forr h1 {
	color: #247eb9;
	font-size: 20px;
	text-align: center;
	padding-bottom: 30px;
	margin-top: 37px;
}
.forr input {
	margin-left: 50px;
	padding: 5px 30px;
	text-align: center;
	font-size: 15px;
	margin-top: 20px;
	border-radius: 26px;
}
.forr button {
	margin-top: 50px;
	margin-left: 100px;
	background: #0085e4;
	color: #fff;
	border: none;
	font-size: 15px;
	padding: 5px 20px;
	border-radius: 18px;
}
.forr input:hover{background:#eaeef0;}


.ng-valid:not(form){
	border-left:10px solid green;
	}
	
	.ng-invalid:not(form){
		border-left:10px solid red;
	}