<div class="container-fluid start">
    <div class="container">
      <div class="col-12 for">
          
        <div class="for_got">
        <div class="forr">
        <h2>PAYLATTE</h2>
          <h1>Forgot Password</h1>
          <input type="email" name="" placeholder="Enter your linked mail" required>
          <input type="Password" name="" placeholder="Enter your new password" required>
          <input type="confirm_password" name="" placeholder="Enter your confirm_password" required>
          <br>
          <button>Reset My Password</button>
        </div>
      </div>
    </div>
  </div>
  </div>
  
  
