<div class="row">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="container-fluid start">
  <div class="container">
    <div class="row">
      <div class="col-12 sign">
        <!-- <img src="../../../assets/images/upload-peeker.gif" alt="#"> -->

        <div class="sign_up">
          <form #signupForm=ngForm (ngSubmit)="onSubmit(signupForm)">
            <h1 style="text-shadow: 3px 3px 3px #ababab;"><b>PAYLATTE</b></h1>
            <h4>Signup</h4>
            <div class="row">
              <div class="col-sm">
                <img src="../../../assets/image/1.JPG " alt="#">
            
                <input type="text" [(ngModel)]="form.name" #firstName="ngModel" name="Name" placeholder="First Name" required>
                <small *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert">
                  <small style="color: white">First Name is required</small>
                </small>
            </div>
            
              <div class="col-sm">
                <img src="../../../assets/image/1.JPG " alt="#">
                <input type="text" [(ngModel)]="form.last_name" #lastName="ngModel" name="Lastname" placeholder="Last Name" required>
                <small *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert">
                  <small style="color: white">Last Name is required</small>
                </small>
    

</div>
</div>
          
      <br>    
<div class="row">
  <div class="col-sm">
    <img src="../../../assets/image/2.JPG " alt="#">
    <input type="text" placeholder="Phone Number" #phoneNumber="ngModel" name="PhoneNumber" [(ngModel)]="form.phone_number" required>
    <small *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)" class="alert">
      <small style="color: white">Phone Number is not valid</small>
    </small>

  </div>
  <div class="col-sm">
    <img src="../../../assets/image/3.JPG " alt="#">
    <input type="email" [(ngModel)]="form.email" #email="ngModel" name="email" placeholder="Email" required>
    <small *ngIf="email.invalid && (email.dirty || email.touched)" class="alert">
      <small style="color: white">Email is not valid</small>
    </small>

  </div>
</div>
<br>
<div class="row">
  <div class="col-sm">
    <img src="../../../assets/image/4.JPG" alt="# ">
    <input type="password" [(ngModel)]="form.password"  #password="ngModel" name="Password" placeholder="Password" #password1 (click)="changeType(password1, 1)"required><i [ngClass]="toggle1 ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
    <small *ngIf="password.invalid && (password.dirty || password.touched)" class="alert">
      <small style="color: white">Password is required</small>
    </small>

    </div>
  <div class="col-sm">
    <img src="../../../assets/image/4.JPG " alt="# ">
    <input type="password" [(ngModel)]="form.confirm_password" name="ConfirmPassword"
    placeholder="Confirm Password" #password2="ngModel" (click)="changeType(password2, 1)"required><i [ngClass]="toggle1 ? 'fas fa-eye' : 'fas fa-eye-slash'"></i>
    <small *ngIf="password2.invalid && (password2.dirty || password2.touched)" class="alert">
      <small style="color: white">Confirm Password is required</small>
    </small>

  </div>
</div>

<br>

<div class="row">
  <div class="col-sm">
    <img src="../../../assets/image/10.png" alt="#">
    <input type="date" [(ngModel)]="form.dob" name="Date" #date="ngModel" placeholder="Date" style="padding: 14px 79px;"
      required>
      <small *ngIf="date.invalid && (date.dirty || date.touched)" class="alert">
        <small style="color: white">Date is required</small>
      </small>
  
  </div>
  <div class="col-sm">
    <img src="../../../assets/image/6.jpg" alt="#" style="  margin-left: 40px;">
    <input type="text" [(ngModel)]="form.aadhar" #aadhar="ngModel" name="AadhaarNumber" placeholder=" Aadhaar Number" required
      style="margin-left: 6px;">
      <small *ngIf="aadhar.invalid && (aadhar.dirty || aadhar.touched)" class="alert">
        <small style="color: white">Aadhaar is required</small>
      </small>
  
  </div>
</div>

<br>

<div class="row">
  <div class="col-sm">
    <img src="../../../assets/image/9.jpg" alt="#">
    <input type="text| uppercase" [(ngModel)]="form.pancard" #penCard="ngModel" placeholder="Pancard Number" required><br>
    <small *ngIf="penCard.invalid && (penCard.dirty || penCard.touched)" class="alert">
      <small style="color: white">Pan is required</small>
    </small>

  </div>
  <div class="col-sm">
    <img src="../../../assets/image/8.png" alt="#">
    <input type="address" [(ngModel)]="form.address"  #address="ngModel" name="Address" placeholder="Address" required>
    <small *ngIf="address.invalid && (address.dirty || address.touched)" class="alert">
      <small style="color: white">Address is required</small>
    </small>

  </div>
</div>
                 <!-- <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)" class="alert">

                 <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)" class="alert">
              <div *ngIf="form.name.invalid && (form.name.dirty || form.name.touched)" class="alert">

              <div *ngIf="form.name.errors?.['required']">
                Name is required.
              </div>
              <div *ngIf="form.name.errors?.['minlength']">
                Name must be at least 4 characters long.
              </div>
              <div *ngIf="form.name.errors?.['forbiddenName']">
                Name cannot be Bob.
              </div> -->

            <!-- </div> -->
            
            <button type="submit" [disabled]="!signupForm.valid">SIGN UP</button> <span> Already have an account?<b><a
                  [routerLink]="'/login'">Login</a></b></span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>




<div class="modal" id="otpmodal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- <form #otpForm=ngForm> -->
          <form [formGroup]="studentform">

          
        <label>Enter the OTP</label>
        <input formControlName="otp1"  type="text"  value="otp1" placeholder="Enter Your email" required>
        <!-- <button type="button" (click)="otpval1()" class="btn btn-primary">Send OTP</button> -->
        </form>
        <!-- </form> -->
      </div>
      <div class="modal-footer">
        <input type="text" [(ngModel)]="otp" value="" placeholder="Enter Your OTP" required>

        <!-- <button type="button" (click)="otpval()" class="btn btn-primary">Submit OTP</button> -->
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>



<!-- <div class="container">
    
    <h1 mat-dialog-title >Add student details</h1>
    <div mat-dialog-content >
        
        <form [formGroup]="studentform">
            
            <mat-form-field appearance="outline" class="sizes">
                <mat-label>Name</mat-label>
                <input formControlName="Name" matInput type="text" placeholder="Name">
                <mat-error *ngIf="studentform.get('Name').hasError('required')">Please enter your Name</mat-error>
    
                <mat-error *ngIf="studentform.get('Name').hasError('maxlength')">Should be less than 10 Charecter</mat-error>
                
                
            </mat-form-field> -->