<div id="About us ">
    <div class="container-fluid copyright-sec ">
        <div class="row ">
            <div class="col-4 nak ">
                <div class="copy-sec ">
                    <h5>© 2022 paylatte. All Rights Reserved.</h5>
                </div>
            </div>
            <div class="col-3 navi ">
                <div class="carr ">

                    <nav>
                        <ul>
                            <li><a href="# ">Contact</a></li>
                            <li><a href="# ">Terms & Conditions</a></li>

                            <li><a href="# ">Legal Documentations</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-5 picc ">
                <div class="foot ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/12.jpg" alt="# " style="margin-left:190px ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/13.jpg " alt="# ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/14.jpg " alt="# ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/19.jpg " alt="# ">
                </div>
            </div>
        </div>
    </div>
</div>  
