.nav-sec{height: 96px;
    /* border-radius:30px; */

}
.navs{
    border: 2px solid whitesmoke;
    padding: 22px 0px;
    
}
.navs nav{
    padding-left: 0px;
}
.navs nav a{
    margin-left: 270px;
    color: darkgray;
    text-decoration: none;
}

.navs nav a.active{color:green;}

.navs nav a:hover{
    color:#34f1df;
    border-bottom:4px solid #3da197;
    text-decoration: none;
    padding-bottom:20px;
}
.dash-sec{
    border-radius:30px;

}
.dash{
    border-radius:30px;

    margin-top: 35px;
    background: #3da197;
    height: 700px;}

    /* .dash {
        background: linear-gradient(-45deg,  #3da197);
        background-size: 400% 400%;
        animation: gradient 5s ease infinite;
        height: 100vh;
        }
        
        @keyframes gradient {
        0% {
        background-position: 0% 50%;
        }
        50% {
        background-position: 100% 50%;
        }
        100% {
        background-position: 0% 50%;
        }
        }  */


        .text-uppercase {
            text-transform: uppercase !important;
            font-size: 25px;
          }

.sub{
    margin-left: 300px;
    margin-top: 160px;
}
.brd{
    
    border: 2px solid whitesmoke;
    width: 121%;
    padding: 39px 160px;
    margin-left: -250px;

}
.brd h5{
    display: inline-block;
    margin-right: 148px;
}
.brd h6{
    color: darkgray;
    font-weight: 400;
    margin-top: 25px;
}
.brd button{
    margin-left: 340px;
    padding: 5px 80px;
    background-color: #34f1df;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 13px;
    font-weight: 600;
}
.icn{
    color:white;
    margin-right: 6px;
}
.brd p{
    display: inline-block;
}

.brd p b{
    display: inline-block;
    font-size:30px;
}
.sp {
    border: 12px solid whitesmoke;
    width: 99%;
    padding: 15px 130px;
  }
.sp p em{
    
    color: black;
    font-size: 13px;
    margin-left: 20px;
}
.sp p strong{
    color: black;
font-size: 30px;
margin-left: -10px;
}
.sp p{
    margin-top: 17px;
color: black;
font-size: 13px;
margin-right: 32px;
}
.du{
    text-align: right;
}
.trans-sec{

}
.trans{

}
.sac{
    border: 2px solid whitesmoke;
    width: 68%;
    margin-left: 304px;
    margin-top: 28px;
}
.sac h1{
    text-align: center;
    font-size: 17px;
    border-bottom: 3px solid whitesmoke;
    padding: 13px 0px;
    font-weight: 500;
    color: cadetblue;
}
.sac ul{

}
.sac ul li{
    list-style: none;
color: darkgrey;
padding-bottom: 16px;
margin-top: 20px;
width: 93%;
padding-left: 300px;
}
.sac ul li b{
    margin-left: 304px;
    font-weight: 500;
    color: cadetblue;
}
.sac ul li p{
    display: inline-block;
    color: darkgrey;
    font-weight: 200;
    font-size: 13px;
}

.dashboard-container {
    width: 100%;
    margin-top: 5%;
}