<div class="row">
  <ngx-ui-loader></ngx-ui-loader>
</div>
<div class="dashboard-container nav-sec">
    <div class="d-flex justify-content-center text-uppercase h1">{{fname}}&nbsp;{{lname}}</div>
    <div class="">
      <div class="col navs">
      <nav>
      <a [routerLink]="'/dashboard'" class="active" >DASHBOARD</a>
      <a [routerLink]="'/Bills'">BILLS</a>
      <a [routerLink]="'/Uptpro'">PROFILE</a>    
      </nav>
      </div>
      </div>
    </div>
    
    <div class="container-fluid dash-sec">
    <div class="row">
    <div class="col dash">
    <div class="sub">
    <div class="brd">
    <p>Total Spent :<b>{{totaldue | currency:'INR'}}/-</b></p>
    <button [routerLink]="'/repayment'"><i class="material-icons icn" style="font-size: 12px;">https</i>PAY NOW</button>
    <!-- <h6>1 Active Accounts</h6> -->

    <!-- (click)="paynow()" -->
    <div class="sp">
    <P>Spent till now :<br> <strong>{{totaldue |currency:'INR'}}/-</strong></P>
    <!-- <p class="du">Due by <br><em>{{totaldate}}</em></p> -->
 
         <p class="du">Due by <br><em>{{totaldate|date:'full'}}</em></p> 

    <!-- <p class="du" *ngFor="let ele of tem">Due by <br><em >{{ele.b}}</em></p> -->
    </div>
    </div>
    
    </div>
    </div>
    </div>
  </div>
    <!-- <div class="container-fluid trans-sec">
    <div class="row">
    <div class="col trans">
    
    <div class="sac">
    <h1>TRANSACTIONS</h1>
    <ul>
        <li style="border-bottom: 2px solid whitesmoke;">t1<br><p>18th Mar 2022 9:03PM</p><b>875</b></li>
        <li style="border-bottom: 2px solid whitesmoke;">t2<br><p>16th Mar 2022 5:19PM</p><b>CR 32.75</b></li>
        <li>t3<br><p>16th Mar 2022 5:17PM</p><b>CR 500</b></li>
    </ul>
    </div>
    
    </div>
    </div>
    </div> -->


