<div class="container-fluid pro-sec">
    <div class="row">
    <div class="col-2 pr">
    
    <div class="profile">
    <img src="../../../assets/imd/1.jpg" id="upload-img" alt="#">
    <label for="fileupload">Upload Profile</label>
    <input type="file" id="fileupload">
    
    
    </div>
    
    
    <div class="pro">
    <ul>
    <li><a href="#"><img src="../../../assets/imd/1.PNG" alt="#">Purchases</a></li>
    <li><a href="#"><img src="../../../assets/imd/2.PNG" alt="#">Shop</a> </li>
    <li><a [routerLink]="'/trans'"><img src="../../../assets/imd/9.PNG" alt="#">Transactions</a></li>
    <li><a href="#"><img src="../../../assets/imd/4.PNG" alt="#">Statements</a></li>
    <li><a href="#"><img src="../../../assets/imd/6.PNG" alt="#">Status</a></li>
    <li><a href="#"><img src="../../../assets/imd/7.PNG" alt="#"> Profile</a></li>
    </ul>
    </div>
    
    </div>
    
    <div class="col-10 box">
    
    <div class=" square">
    <h1 >500</h1>
    <p>CREDIT BALANCE</p>
    <button [routerLink]="'/vendor'" type="submit" class="py">Shop</button>
    </div>
    <div class=" square">
    <h1>500</h1>
    <p class="cb">CREDIT LIMIT</p>
    </div>
    <div class=" square">
    <h1>500</h1>
    <p>CREDIT BILL</p>
    <button [routerLink]="'/pay'"type="submit" class="py">Pay</button>
    </div>
    </div>
    
    </div>
    </div>