<!-- <div class=" container-fluid tele-logo ">
    <div class="row ">
        <div class="col-5 tele-sec ">
            <div class="tel "> <img src="../assets/ZoodPay - Buy now Pay later_files/one.PNG " alt="aaaa"> </div>
        </div>
        <div class="col-7 nav-sec ">
            <div class="logo ">
                <nav> <a [routerLink]="'/home'">Home</a> <a href="#Where to shop ">Where to shop</a> <a href="#For Business ">For Business</a> <a href="#About us ">About us</a>
                    <a [routerLink]="'/login'">Login</a>
                </nav>
            </div>
        </div>
    </div>
</div> -->
<link href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" rel="stylesheet">

<div class="row">
    <ngx-ui-loader></ngx-ui-loader>
  </div>

<div class="container-fluid banner-sec ">
    <div class="row ">
       <div class="col-12 content-sec ">
            <div class="cont ">
                <h1><b>Buy now</b></h1>
                <h2>Pay later</h2>

                <p>With paylatte, you can shop<br> online and in stores and pay<br> over a period of 30 days.</p>
            </div>
        </div>
    </div>
</div>

<!-------------------------------------------------------------------->

    <div class="container-fluid workers-sec ">
        <div class="row ">
            <div class="col-12 works-sec ">
                <div class="work ">
                    <h1>How it Works?</h1>
                    <p>Get everything you want! Upgrade your shopping experience with paylatte!</p>
                </div>
            </div>
        </div>
    </div>

    <!------------------------------------------------------->
    <div class="container-fluid phne-sec">
        <div class="container">
            <div class="row">
                <div class="col-4 phones-sec">
                    <div class="ph-sec"> <img src="../assets/ZoodPay - Buy now Pay later_files/23.jpg " alt="# "> </div>
                </div>
                <div class="col-4 phones-sec ">
                    <div class="ph-sec"> <img src="../assets/ZoodPay - Buy now Pay later_files/24.jpg " alt=" "> </div>
                </div>
                <div class="col-4 phones-sec">
                    <div class="ph-sec"> <img src="../assets/ZoodPay - Buy now Pay later_files/20.jpg " alt=" "> </div>
                </div>
            </div>
        </div>
    </div>


<!------------------------------------------------------------------------------>
<!-- <div id="Where to shop ">
<div class="container-fluid workers-secc">
    <div class="row ">
        <div class="col-12 works-sec ">
            <div class="work ">
                <h1>Where is it Available</h1>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid market-sec ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 mart-sec ">
                <div class="mar-sec ">
                    <p><b>Paylatte</b></p><br>
                    <h1>Marketplace</h1>

                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid image-box ">
    <div class="row ">
        <div class="col-12 pic ">
            <div class="imm-sec"><img src="../assets/ZoodPay - Buy now Pay later_files/11.webp" alt="#"> <img src="../assets/ZoodPay - Buy now Pay later_files/8.webp" alt="#"> <img src="../assets/ZoodPay - Buy now Pay later_files/9.webp" alt="#">
                <img src="../assets/ZoodPay - Buy now Pay later_files/10.webp" alt="#"></div>
        </div>
    </div>

</div>

<div class="container-fluid market-sec ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 mart-sec ">
                <div class="mar-sec ">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid image-box ">
    <div class="row ">
        <div class="col-12 lap ">
            <div class="later "> <img src="../assets/ZoodPay - Buy now Pay later_files/13.webp " alt=" "> <img src="../assets/ZoodPay - Buy now Pay later_files/14.webp" alt=" "> <img src="../assets/ZoodPay - Buy now Pay later_files/15.webp" alt=" ">
                <img src="../assets/ZoodPay - Buy now Pay later_files/12.webp " alt="# "></div>
        </div>
    </div>
</div>

<div class="container-fluid market-sec ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 mart-sec ">
                <div class="mar-sec ">

                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid image-box ">
    <div class="row ">
        <div class="col-12 pay ">
            <div class="imm-sec "> <img src="../assets/ZoodPay - Buy now Pay later_files/pic1.webp " alt=" "> <img src="../assets/ZoodPay - Buy now Pay later_files/pic3.webp " alt=" "> <img src="../assets/ZoodPay - Buy now Pay later_files/pic4.webp " alt=" ">
                <img src="../assets/ZoodPay - Buy now Pay later_files/pic2.webp" alt=" "></div>
        </div>
    </div>
</div>
</div> -->
<div id="For Business ">
    <div class="container-fluid customer-sec ">

        <div class="container">


            <div class=" row ">
                <div class="col-8 cust-sec ">
                    <div class="cu-sec ">
                        <h1><b>Customer</b> </h1>
                        <h2>Advantages</h2>


                        <h3><b>1.Fast payment for your purchases</b></h3>

                        <h3><b>2.Nothing extra to pay</b></h3>
                        <p>No additional fees when you pay on time.</p>
                        <h3><b>3.Instant decision</b></h3>
                        <p>No long forms or paperwork! You’ll know if your order will be approved.<br> Instantly and your order will be shipped as usual.</p>
                    </div>
                </div>
                <div class="col-4 customer-imgg ">
                    <div class="cu-imgsec "> <img src="../assets/ZoodPay - Buy now Pay later_files/bdc937_2f7efc97bce742ed84a6c784fb174379_mv2.webp" alt=" "> </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="Terms & Conditions">
<div id="Legal Documentations">
<div class="container-fluid terms-sec ">
    <div class="container ">
        <div class="row ">
            <div class="col-12 ter-sec ">
                <div class="tr-sec ">
                    <h1>Terms & Conditions
                    </h1>
                    <ul>
                        <li>You must be over 18 years old and be an authorized pancard holder to be eligible for credit.</li>
                        <li>You need to get (instantaneous) approval from an external credit bureaus agency. paylatte will check your eligibility with an external credit bureaus reference agency for your account approval.</li>
                        <li>Your purchase amount depends on your credit-score not by company authorities.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!----------------------------------------------------------->
 <!-- <div id="About us ">
    <div class="container-fluid copyright-sec ">
        <div class="row ">
            <div class="col-4 nak ">
                <div class="copy-sec ">
                    <h5>© 2022 paylatte. All Rights Reserved.</h5>
                </div>
            </div>
            <div class="col-3 navi ">
                <div class="carr ">

                    <nav>
                        <ul>
                            <li><a href="# ">Careers</a></li>
                            <li><a href="# ">Terms & Conditions</a></li>

                            <li><a href="# ">Legal Documentations</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
            <div class="col-5 picc ">
                <div class="foot ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/12.jpg" alt="# " style="margin-left:190px ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/13.jpg " alt="# ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/14.jpg " alt="# ">
                    <img src="../assets/ZoodPay - Buy now Pay later_files/19.jpg " alt="# ">
                </div>
            </div>
        </div>
    </div>
</div>  -->


