<div class="container-fluid first">
    <div class="container">
      <div class="row">
        <div class="col-12 hed">
          <div class="cont">
            <h1>Contacts Us</h1>
          </div>
        </div>
        <div class="col-6 get">
          <div class="getit">
            <h2>Get in touch</h2>
            <nav> <h3>For customers</h3><p>Bangalore</p> <a href="#">bummbleprimus18@gmail.com</a><br><br><p>Kolkata</p> <a href="#">kanha537@gmail.com</a><br><br> <p>Hyderabad</p>
                 <a href="#">divyapitti@gmail.com</a> 
                </nav>
          </div>
        </div>
        <div class="col-6 getnow">
          <div class="for">
              <iframe src="https://maps.google.com/maps?q=bangaluru%20mg%20road%20spring%20board&t=&z=13&ie=UTF8&iwloc=&output=embed"></iframe>
        </div>
      </div>
    </div>
  </div>
