
<nav class="navbar-parent-container">
    <div class="container-fluid tele-logo">
        <div class="navbar-container flex-row">
            <img class="logo-img" src="../assets/ZoodPay - Buy now Pay later_files/one.PNG" alt="aaaa"> 
    
            <a class="nav-option" routerLink="/home"  *ngIf="!loggedIn">Home</a>
            <a class="nav-option"  href="#Where to shop " *ngIf="!loggedIn">Where to shop</a>
            <a class="nav-option" [routerLink]="'/business'" *ngIf="!loggedIn" >For Business</a>
            <a class="nav-option" [routerLink]="'/con'" *ngIf="!loggedIn" >Contact us</a>

            <div class="login-button-container" *ngIf="!loggedIn">
                <button class="login-button" routerLink="/login"  >Login</button>
            </div>
            <div class="logout-button-container" *ngIf="loggedIn" id="log">
                <button class="login-button logout-button" (click)="logout($event)"  >Logout</button>
            </div>
        </div>
    </div>
</nav>



<router-outlet></router-outlet>
<app-footer ></app-footer>

<!----------------------------------------------------------->