* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.postfix{
    position:fixed;
}

.navbar-parent-container {
    width: 100%;
    position: relative;
    height: 10%;
}

.tele-logo {
    /* position: fixed; */
    background:#fff;
    height:80px;
    z-index: 10; 
     position:fixed;
}

.logo-img{
    height: 8%;
    width: 8%;
    margin-left: 10%;
    margin-top: 0%;
}


.checkbtn{font-size: 30px;
    color: #000;
    float: right;
    cursor:pointer;
    display:none;
    line-height: 80px;
    margin-right: 40px;
    

}
#check{display: none;
    
}


.login-button {
    background: green;
    color: #fff;
    padding: 0% 5%;
}

.ng-valid:not(form){
	border-left:5px solid green;
	}
	
.ng-invalid:not(form){
    border-left:5px solid red;
}

@media(max-width: 600px){

}

@media(max-width:350px){

    
} 

.navbar-container > a{
    color: #000;
    font-weight: 600;
    margin-right:2%;
    vertical-align: middle;
    width: 12%;
    margin: auto;
    text-align: center;
    padding: 1% 2%;
}

.navbar-container > div{
    width: 15%;
    text-align: center;
}

.login-button {
    width: 60%;
    background-color: green;
    border: none;
    padding: 2% 5%;
    border-radius: 5px;
    margin: auto;
    margin-top: 10%;
}

.logout-button-container {
   margin-left: 65%;
}

.logout-button- {
    float: right;
}

.navbar-container > a:hover {
    color: rgb(22, 45, 255);
}