
<div class="container-fluid tele-logo ">
   
            <div class="row">
        <div class="col-12 tele-sec">
            <nav>
                <input  type="checkbox" id="check">
                <label for="check" class="checkbtn">
                    <i class="fas fa-bars"></i>
                </label>

                <label>
                
                <img src="../assets/ZoodPay - Buy now Pay later_files/one.PNG" alt="aaaa"> 
            </label>
       
           
        
        <ul>
               
            <li> <a routerLink="/home"  *ngIf="!loggedIn">Home</a></li>
               <li> <a href="#Where to shop " *ngIf="!loggedIn">Where to shop</a></li> 
               <li> <a [routerLink]="'/business'" *ngIf="!loggedIn" >For Business</a></li>
            <li> <a [routerLink]="'/con'" *ngIf="!loggedIn" >Contact us</a></li>
            
                       <button class="btn btn-success" routerLink="/login" *ngIf="!loggedIn" >Login</button>
                    
                    <button class="btn btn-success" (click)="logout($event)" *ngIf="loggedIn" id="log" >Logout</button>
                </ul>
            </nav>
            </div>
            
        </div>
    </div>


<router-outlet></router-outlet>
<app-footer ></app-footer>

<!----------------------------------------------------------->